/* Basic styles */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif; /* Change the font-family to Montserrat */
  min-height: 100vh; /* Makes the body fills at least the screen (So that the footer isn't floating) */
}

main {
  flex: 1; /* Makes the main container separate the header and footer, even if there's no main content */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Sets the nav bar as a flex container */
  background-color: #333; /* Background color for the navbar */
  overflow: hidden; /* Removes overflow completely */
  align-items: center;
}

/* Divides nav bar */
.left-nav img {
  width: 100px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}

.right-nav {
  display: flex;
  align-items: center; /* Aligns the buttons vertically, making a horizontal line */
  margin-left: auto; /* Pushes it to the right */
}

nav li a {
  display: block; /* Set as block element */
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /* Removes the default underline */
}

nav li a:hover {
  background-color: #111; /* Color on hover */
}

footer {
  text-align: center;
  background-color: #f0471d;
  color: #fff;
  padding: 10px;
}